<div id="main-wrapper" class="mx-auto" style="margin-top: 100px;">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h1 class="h4 font-weight-bold text-theme">Login</h1>
                                </div>

                                <h1 class="h5 mb-0">Welcome again</h1>
                                <p class="text-muted mt-2 mb-5">Enter your username  and password to access admin panel.</p>

                                <form #loginForm="ngForm" (ngSubmit) = "onLogin(loginForm.value)" >
                                    <div class="form-group ">
                                        <label for="username"> Username </label>
                                        <input type="text" class="form-control" name="username" ngModel #usernameInput="ngModel" required>
                                    </div>
                                        <span class="help-block" style="color:rgb(198, 64, 64)" *ngIf="usernameInput.invalid && usernameInput.touched">please Enter a username</span>
                                    <br>
                                    <div class="form-group ">
                                        <label for="password"> Password </label>
                                        <input type="password" class="form-control" name="password" ngModel #passwordInput="ngModel" required>
                                    </div>
                                        <span class="help-block" style="color:rgb(198, 64, 64)" *ngIf="passwordInput.invalid && passwordInput.touched">please Enter your password</span>
                                        <br >
                                    <div class="text-center">
                                    <button type="submit" [disabled]="loginForm.invalid " class="btn btn-theme">Login</button>
                                    </div>
                                    <a  class="forgot-link float-right text-primary">Forgot password?</a>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <p>- Sami Riahi Full stack engineer student</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->

            <p class="text-muted text-center mt-3 mb-0">Don't have an account?  <a routerLink="/register" class="text-primary ml-2">sign up </a></p>

            <!-- end row -->

        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>