<body>

    <i style="color: blue;" class="fas fa-users" ></i>
    <Span class="text"  style="color: blue; font-size: large;">   Gestion des groupes : </Span>

    <!-- group tab -->
  <div  class="tab-pane fade show active" >
    <div class="mb-3 float-right">
    <div class="btn-group mr-2">
    <form  class="form-inline my-2 my-lg-0 justify-content-center">
    <input name="searchTerm" class=" form-control mr-sm-2 "    #serchForm="ngModel" ngModel type="search" 
      (ngModelChange)="searchGroups(serchForm.value)"   placeholder="Search group ... " >
    </form>
    <button   type="button" class="btn btn-info" data-toggle="modal" data-target="#addGoupeModal">
    <i class="fa fa-plus"></i> New groupe
    </button>
    </div>
    <div class="btn-group">
    <button type="button" (click)="getGroups(true)" class="btn btn-info">
    <i style="font-size: small;" class="fas fa-sync-alt"></i>
    </button>
    </div>
    </div>
    <br><br>
    <table class="table table-hover">
    <thead class="table-borderless">
    <tr class="text-center " style="text-align:center ; font-size:small" >
    <th style="text-align:center">Nom du groupe</th>
    <th style="text-align:center">Date de creation</th>
    <th style="text-align:center">Status</th>
    <th style="text-align:center">Members</th>
    <th style="text-align:center">Actions </th>
  </tr>
</thead>
<tbody *ngFor="let appGroup of groups | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
<tr class="text-center" style="text-align:center">
<td>{{appGroup?.nomGroupe}}</td>
<td>{{appGroup?.dateCreation  | date: 'medium'}}</td>
<td>
<span  [hidden]="!appGroup?.isActive" class="badge bg-success">Active</span>
<span  [hidden]="appGroup?.isActive"class="badge bg-danger">Inactive</span>
</td>
<td>
  <button class="btn btn" (click)="groupMembersList(appGroup)">
    <i style="font-size: medium; color: rgb(0, 0, 0);" class="fas fa-list"></i>
  </button>
  <button class="btn btn" (click)="addUserToGroupModal(appGroup)">
    <i style="font-size: medium; color: rgb(89, 94, 240);" class="fas fa-plus"></i>
  </button>
</td>
<td>
<div class="btn-group">
  <button class="btn btn" (click)="editGroupInfo(appGroup)">
    <i style="font-size: medium;color:gray" class="fas fa-edit"></i>
  </button>
  <button [hidden]="!isAdmin" class="btn danger" (click)="deleteGroupe(appGroup.nomGroupe)"> 
    <i style="font-size: medium;color: red" class="fas fa-trash"></i>
  </button>
</div>
</td>
</tr>
</tbody>
  </table>

  <div >
    <div class="centered-element"> 
      <pagination-controls class="paginator" (pageChange)=" p = $event " > </pagination-controls>
    </div>
  </div>

  </div>


  <button [hidden]="true" type="button" id="openAddToUserGroup" data-toggle="modal" data-target="#addUserToGroupModal"> 
  </button>
  <button [hidden]="true" type="button" id="openGroupEdit" data-toggle="modal" data-target="#editGroupModal"> 
  </button>
  <button [hidden]="true" type="button" id="openMembersList" (click)="getGroupMembers(true)" data-toggle="modal" data-target="#membersListModal">
  </button>


    <!-- model add Group -->
    <div class="modal draggable fade bd-example-modal-lg" id="addGoupeModal" tabindex="-1" role="dialog"
    aria-labelled by="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
     <div class="modal-header">
      <h5 class="modal-title text-center">New Group</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times; </span>
      </button>
     </div>
    <div class="modal-body">
    <div>
    <form #newGroupForm="ngForm" (ngSubmit)="addNewGroup(newGroupForm)">
     <div class="form-group">
      <label for="nomGroupe">Nom du Groupe </label>
      <input type="text" name="nomGroupe" required ngModel class="form-control">
     </div>
      <fieldset class="form-group">
        <div class="form-check form-switch">
          <label class="form-check-label">
            <input type="checkbox"  name="isActive" ngModel class="form-check-input">
            Active
          </label>
        </div>
      </fieldset>
      <button type="submit" style="display: none;" id="new-group-save"></button>
    </form>
    </div>             
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-Group-close">Close</button>
    <button type="button" (click)="saveNewGroupe()" [disabled]="newGroupForm.invalid" class="btn btn-primary" >Save </button>
    </div>
    </div>
    </div>
    </div>
    <!-- Modal Edit Group -->
    <div class="modal fade" id="editGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel"> Edit Group :{{editGroup.nomGroupe}} </h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #editUserForm="ngForm" >
                <div class="form-group">
                 <label for="nomGroupe">Nom du groupe</label>
                 <input type="text" name="nomGroupe"  required [(ngModel)]="editGroup.nomGroupe" class="form-control">
                </div>
                 <fieldset class="form-group">
                   <div class="form-check form-switch">
                     <label class="form-check-label">
                       <input type="checkbox"  name="active" [(ngModel)]="editGroup.isActive" class="form-check-input">
                       Active
                     </label>
                   </div>
                 </fieldset>
                 <button type="submit" style="display: none;" id="new-user-save"></button>
                </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="edit-group-close"> Close </button>
          <button type="button"  (click)="updateGroup()" [disabled]="editUserForm.invalid " class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
    </div>
    <!-- Modal List Members -->
    <div class="modal fade" id="membersListModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLongTitle"> Membres List of group {{groupe.nomGroupe}} :</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-hover">
              <thead class="table-borderless">
              <tr class="text-center; " style="text-align:center; font-size:small" >
                <th style="text-align:center">Photo</th>
                <th style="text-align:center">Matricule</th>
                <th style="text-align:center">First Name</th>
                <th style="text-align:center">Last Name</th>
                <th style="text-align:center">Username</th>
                <th style="text-align:center">Status</th>
                <th style="text-align:center">Remove</th>
            </tr>
          </thead>
          <tbody *ngFor="let appUser of members">
          <tr class="text-center" style="text-align:center">
            <td>
              <img height="40" width="40" src="{{appUser?.profileImageUrl}}"  class="rounded"/>
              </td>
              <td >{{appUser?.userId}}</td>
              <td >{{appUser?.firstName}}</td>
              <td> {{appUser?.lastName}}</td>
              <td> {{appUser?.username}}</td>
              <td>
              <span [hidden]="!appUser?.active" class="badge bg-success">Active</span>
              <span [hidden]="appUser?.active"class="badge bg-danger">Inactive</span>
              </td>
          <td>
          <div class="btn-group">
            <button [hidden]="!isAdmin"  (click)="removeUserFromGroup(appUser?.username)" class="btn btn-outline-dark btn-sm"><i style="font-size: small;" class="fas fa-user-slash"></i></button>
          </div>
          </td>
          </tr>
          </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Add User To  Group -->
    <div class="modal fade" id="addUserToGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel"> add user to  group {{groupe.nomGroupe}} by entering his username :</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form #userGroupForm="ngForm" >
                  <div class="form-group">
                   <label for="nomGroupe">Nom du groupe</label>
                   <input type="text"  name="nomGroupe"  required [(ngModel)]="groupe.nomGroupe" disabled="true" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="username">username</label>
                    <input type="text" name="username"  required [(ngModel)]="user.username" class="form-control">
                   </div>
                   <button type="submit" style="display: none;" ></button>
                  </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="user-group-close"> Close </button>
            <button type="button"  (click)="assignUSerTogroupe(user?.username , groupe?.nomGroupe)" [disabled]="userGroupForm.invalid " class="btn btn-primary">Save </button>
          </div>
        </div>
      </div>
      </div>



</body>

<app-sidenavigation></app-sidenavigation>