<body>

 <div>
    <div class="col">
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-body">
              <div class="e-profile">
                <div class="row">
                  <div class="col-12 col-sm-auto mb-3">
                    <div class="mx-auto" style="width: 120px;">
                      <div class="d-flex justify-content-center align-items-center rounded " >
                      <img class="rounded" height ="120" width="120"   src="{{user?.profileImageUrl}}" alt="">
                     </div>
                     <div *ngIf="fileStatus?.status==='progress'"  class="progress mt-1">
                      <div class=" progress-bar bg-info" role="progressbar" [style.width.%] = "fileStatus?.percentage"
                      aria-valuenow="0" aria-valuemin="0"
                      aria-valuemax="100"> {{ fileStatus?.percentage }}%</div>
                     </div>
                     </div>
                  </div>
                  <div class="col d-flex flex-column flex-sm-row justify-content-between  mb-3">
                    <div class="text-sm-left text-sm-left mb-2 mb-sm-0">
                      <h4 class="pt-sm-2 pb-1  text-nowrap mb-4">{{user?.firstName}} {{user?.lastName}}</h4>
                      <p class="mb-0"> identifiant : {{user?.userId}}</p>
                      <div *ngIf="user?.lastLoginDateDisplay !== null " class="text-muted"><small>Last login :
                        {{user?.lastLoginDateDisplay | date: 'medium'}} </small></div>
                      <div class="mt-2">
                        <button (click)="updateProfileImage()" class="btn btn-primary" type="button">
                          <i class="fa fa-fw fa-camera"></i>
                          <span>Change Photo</span>
                        </button>
                      </div>
                    </div>
                    <div class="text-center text-sm-right">
                      <div class="text-muted"><small>Joined {{user.joinDate | date: 'mediumDate'}} </small></div>
                    </div>
                  </div>
                </div>
                <div class="tab-content pt-3">
                  <div class="tab-pane active">
                    <form #profileUserForm="ngForm" (ngSubmit)="updateCurrentUser(profileUserForm.value)" class="form" 
                    novalidate>
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>First Name</label>
                                <input type="text" name="firstName"  [disabled]="!isAdmin" required [(ngModel)]="user.firstName" class="form-control" >
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" name="lastName"  [disabled]="!isAdmin" required [(ngModel)]="user.lastName" class="form-control" >
                              </div>
                            </div>
                            <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Username</label>
                                <input  type="text" name="username" [disabled]="!isAdmin" required [(ngModel)]="user.username" class="form-control">
                              </div>
                            </div>
                          </div>
                         </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Email</label>
                                <input  type="text" name="email"  [disabled]="!isAdmin" required [(ngModel)]="user.email" class="form-control"  placeholder="user@example.com">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col mb-3">
                              <div class="form-group">
                                <label>Role <small [hidden]="isAdmin" style="color: crimson;">(only for admin)</small></label>
                                <select  [disabled]="!isAdmin" name="role" required [(ngModel)]="user.role" class="form-control"  >
                                  <option value="ROLE_USER">USER</option>
                                  <option value="ROLE_HR">HR</option>
                                  <option value="ROLE_MANAGER">MANAGER</option>
                                  <option value="ROLE_ADMIN">ADMIN</option>
                                  <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                        <div class="row">
                        <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                          <div class="mb-2"><b>account seetings</b></div>
                          <div class="row">
                            <div class="col">
                              <div class="custom-controls-stacked px-2">
                                <div class="form-check  form-switch ">
                                  <input name="active" type="checkbox" [disabled]="!isAdminOrManager" [(ngModel)]="user.active" class="form-check-input">
                                  <label class="form-check-label">Active</label>
                                </div>
                                <div class="form-check  form-switch ">
                                  <input name="notLocked" type="checkbox" [disabled]="!isAdminOrManager" [(ngModel)]="user.notLocked" class="form-check-input">
                                  <label class="form-check-label" > UnLocked </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col d-flex justify-content-end">
                          <button [hidden]="!isAdminOrManager" class="btn btn-primary" type="submit">
                           <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                           <span *ngIf="refreshing"> Loading... </span>
                           <span *ngIf="!refreshing">Save Changes</span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="col-12 col-md-3 mb-3">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title font-weight-bold"> Your Permissions From Role </h6>
              <h6 *ngFor="let authority of user?.authorities " class="card-text"> {{authority}}.</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>

   <!-- profile image change form -->
   <form enctype="multipart/form-data" style="display: none ;">
    <input type="file"
    (change)="onProfileImageChange($any($event).target.files[0].name , ($any($event).target.files[0]))  ; onUpdateProfileImage()"
    name="profile-image-input" id="profile-image-input" placeholder="File"  accept="image/*" />
  </form>



  <div>

    <app-sidenavigation></app-sidenavigation>


    
  </div>
  

</body>